html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #212030;
    color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#myVideo { 
    position: fixed;
    z-index: 0;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }

.about {
  width: 100%;
  height: 100vh;
  padding: 16px;
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about img {
  width:300px; 
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3)
}

.projects {
  width: 100%;
  height: 100vh;
  background-color: rgb(96, 167, 221);
  background-image: url(/static/images/bg1.jpg);
  background-repeat: none;
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.projects h1 {
  margin: 100px;
}

.projects a {
  margin: 100px;
  font-size: 36px;
  font-weight: bold;
  background-color: rgba(126, 126, 126, 0.1);
  padding: 16px;
  backdrop-filter: blur(8px);
  border-radius: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
    z-index:1;
    
  }

.git-ico {
  justify-self: center;
  align-self: baseline;
  width: 40px; 
  height: 40px; 
  margin-top: 8px;
}

.sm-icon {
  height: 32px;
  width: 32px;
}

nav {
    
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: 64px;
    width: 100vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    text-decoration: none;
  }

  nav a {
    padding: 8px;
    margin: 0 8px;
}
  a {
    cursor: pointer;
    color:rgb(255, 255, 255);
    text-decoration: none; 
    background-color: none;
  }

  .dark {
    color: black;
  }

  .spacer {
    padding: 16px;
    width: 100%;
    background-color: black;
  }

  .text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .text-wrapper-lj {
    display: flex;
    width: 70%;
    font-weight: normal;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

  i {
      margin-bottom: 32px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .row {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  li {
    font-size: 24px;
    font-weight: 500;
  }
  

  #about-prof {
    font-size: 28px;

    margin-bottom: 0;
    text-decoration: underline;
  }
  
  #fed {
    font-size: 20px;
    padding: 0;
    margin: 8px;
  }

  .column {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .column-wide {
    background-color: rgba(119, 119, 119, 0.1);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(12, 12, 12);
  }

  .light {
    background-color: rgb(255, 255, 255);
  }

  .column-wide h1 {
    font-size: 20px;
    text-shadow: none;
  }

  #contact-head {
    align-self: center;
    text-decoration: underline;
  }

  #myMap{
    width: 70%;
    height: 400px; 
    padding: 20px;
    frameborder:0;
    border:0;
  }

  .cards {
    background-color: rgb(78, 78, 78);
    background-image: url(/static/images/noimg.jpeg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    margin: 8px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 64px;
  }

  .slide-box {
    width: 60%;
    height: auto;
    padding: 32px 16px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    border-radius: 16px;
  }
  .content-area {
    position: relative;
    top: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:1;
    background-color: white;
  }

  .alternate {
    background-color: #212030;
  }

  form { 
    width: 70%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  textarea {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: white;
    font-size: 16px;
    width: 100%;
    height: 100px;
  }

 

  